<% content_for :title, "Settings" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-col sm:flex-row justify-between items-center mb-4 gap-4">
    <h1 class="font-bold text-4xl">Settings</h1>
    <div class="flex flex-row justify-between gap-4">
      <div class="tooltip tooltip-bottom" data-tip="Reroll Daily Quote">
        <%= link_to reroll_daily_quotes_path, class: "btn hover:btn-primary", data: { turbo_prefetch: false } do %>
          <i class="fa-solid fa-dice-d20 fill-primary"></i>
        <% end %>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Home">
        <%= link_to root_path, class: "btn hover:btn-primary" do %>
          <i class="fa-regular fa-house fill-primary"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <%= render "general_settings" %>
    <%= render "date_time_settings" %>
    <%= render "weather_settings" %>
  </div>
</div>
